@{
    ViewData["Title"] = "Home Page";
}
@model AskMate.Controllers.HomeController

<table class="table">
    <tr>
        <th>
            #ID
        </th>
        <th>
            Question
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (QuestionModel question in new IDAO_Impl().GetQuestions())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => question.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => question.Content)
            </td>
            <td>
                @Html.ActionLink("Edit", "edit", new { id = question.Id }) |
                @Html.ActionLink("Details", "details", new { id = question.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = question.Id })
            </td> 
        </tr>
    }

</table>