@inject IUserService userService;
@model AskMate.Models.QuestionModel
@{
    ViewData["Title"] = "Details";
    Model.IncreaseView();
    var authorized = User.Identity.IsAuthenticated;
    string eMail = User.Claims.First().Value;
    IDAO_Impl Idao = IDAO_Impl.Instance;
}

<link rel="stylesheet" href="~/css/Index.css">
<script src="~/js/site.js"></script>

<ul class="list-group">
    <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
        <h3>#@Model.Id - @Model.Title</h3>
        <a>@Model.GetDate()</a>
        @if (!authorized) { }
        else 
        { 
            <div>
                <button id="downVote" class="btn bg-transparent btn-vote text-danger" onclick="location.href='@Url.Action("DownVote", "Home", new {id = @Model.Id})'" title="Downvote">
                    <span class="oi oi-chevron-bottom downvote"></span>
                </button>
                <span class="badge badge-primary badge-pill">@Model.Vote</span>
                <button id="upVote" class="btn bg-transparent btn-vote text-success" onclick="location.href='@Url.Action("UpVote", "Home", new {id = @Model.Id})'" title="Upvote">
                    <span class="oi oi-chevron-top upvote"></span>
                </button>
            </div>
        }
    </li>
    <li class="list-group-item">
        <div class="float-left">
            @foreach (string name in Model.tagNames)
            {
                <span class="float-left badge badge-pill badge-info">@name<button type="button" class="close btn-danger" aria-label="Delete"><span aria-hidden="true">&times;</span></button></span>
            }
        </div>
    </li>

    @if (!authorized)
    { 
        <p></p>
    }
    else
    {
        <li class="list-group-item">
            <script src="~/js/jquery-3.4.1.min.js"></script>
            @if (Idao.GetUserById(Model.User_Id).Equals(Idao.GetUserByEmail(eMail)))
            {
                <form method="post" asp-controller="Home" asp-action="ImageUpload" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label>pics</label>
                        <div class="col-sm-10">
                            <div class="custom-file">
                                <input type="hidden" name="type" value="question" />
                                <input type="hidden" value="@Model.Id" name="id" />
                                <input class="form-control custom-file-input" type="file" name="file" />
                                <label class="custom-file-label">Browse</label>
                            </div>
                        </div>
                        <button class="btn btn-info" type="submit">Upload</button>

                    </div>
                    <!--<img src="ViewData["FileLocation"]" width="600" height="400"/>
                    ToDo Hozzáfűzni a csv-hez a képet-->
                </form>
            }

            @{
                if (Model.ImgLink == DBNull.Value.ToString())
                {
                    <p>No image uploaded</p>
                }
                else
                {
                    <a href="@Model.ImgLink" data-toggle="lightbox">
                        <img src="@Model.ImgLink" height="100 px" width="100 px" class="img-fluid">
                    </a>
                }
            }
        </li>
    }
    <li class="list-group-item list-group-item-info">
        <div class="">
            @Model.Content
        </div>
    </li>
    

    <li class="list-group-item">
        @if (Model.Answers.Count >= 1)
        {
            foreach (AnswerModel answer in Model.Answers)
            {
                <div class="card text-white bg-dark mb-3" style="max-width: 68rem;">

                    <div class="card-header">
                        #@answer.Id
                        <span class="float-right">
                            @if(authorized && Idao.GetUserByEmail(User.Claims.First().Value).Id == Idao.GetQuestionById(answer.Question_Id).User_Id)
                            {
                                if(Model.AcceptedAnswerID.HasValue)
                                {
                                    if (Idao.GetAnswerById(Model.AcceptedAnswerID.Value) != answer)
                                    {
                                        @Html.ActionLink("Mark as accepted", "MarkAnswerAccepted", new { answerID = answer.Id }, new { @class = "btn btn-success" })
                                    }
                                    else
                                    {
                                        <button class="btn btn-success disabled">Marked accepted! <span class="oi oi-check"></span></button>
                                    }
                                }
                                else
                                {
                                    @Html.ActionLink("Mark as accepted", "MarkAnswerAccepted", new { answerID = answer.Id }, new { @class = "btn btn-success" })
                                }
                            }
                            else
                            {
                                if(Model.AcceptedAnswerID.HasValue)
                                {
                                    if(Idao.GetAnswerById(Model.AcceptedAnswerID.Value) == answer)
                                    {
                                        <span class="oi oi-check color-success">Accepted</span>
                                    }
                                }
                            }
                            @Html.ActionLink("Edit", "edit_answer", new { id = answer.Id })
                            @Html.ActionLink("Delete", "delete", new { id = answer.Id }, new { @class = "text-danger" })
                            <!----
                            <a asp-controller="Home" asp-action="DeleteAnswer" href="#" class="text-danger">Delete</a>
                            -->
                            <button id="downVote" class="btn bg-transparent btn-vote text-danger" onclick="location.href='@Url.Action("A_DownVote", "Home", new {id = answer.Id })'" title="Downvote">
                                <span class="oi oi-chevron-bottom downvote"></span>
                            </button>
                            <span class="badge badge-primary badge-pill">@answer.Vote</span>
                            <button id="upVote" class="btn bg-transparent btn-vote text-success" onclick="location.href='@Url.Action("A_UpVote", "Home", new {id = answer.Id })'" title="Upvote">
                                <span class="oi oi-chevron-top upvote"></span>
                            </button>
                        </span>
                    </div>
                    <div class="card-body bg-dark">
                        @{
                            if (answer.ImgLink != DBNull.Value.ToString())
                            {
                                <a class="float-right" data-toggle="lightbox" href="@answer.ImgLink">
                                    <img height="100 px" width="100 px" class="img-fluid" src="@answer.ImgLink">
                                </a>
                            }
                            else { <p class="float-right">No image attached</p>}
                        }
                        <h6 class="card-title">@answer.Content</h6>
                        <p class="text-date">@answer.GetDate()</p>
                        <!--<div style="padding-bottom: 50px;"></div>-->
                        @* COMMENTS BELOW *@
                        @foreach (var comment in answer.Comments)
                        {
                            <hr>
                            <div class="container-fluid">
                                <p>@comment.Message –&nbsp;<span class="text-date">@comment.GetDate()</span></p>
                            </div>
                            if(comment.Equals(answer.Comments.Last()))
                            {
                                <hr>
                            }
                        }
                        @if (!authorized)
                        { <p>big no no</p>}
                        else
                        {
                        <form method="POST" asp-controller="Home" asp-action="AddComment" enctype="multipart/form-data">
                            <div class="justify-content-between pt-4">
                                <p>Add a comment</p>
                                <textarea class="form-control-plaintext bg-light text-black-50" style="border-radius: 1rem;" name="comment" required></textarea>
                                <input name="id" type="hidden" value="@answer.Id" />
                                <input name="type" type="hidden" value="answer" />
                                <input type="hidden" name="user_email" value="@eMail" />
                                <div class="pt-2 float-right">
                                    <button class="btn btn-success" type="submit">Add Comment</button>
                                </div>
                            </div>
                        </form>
                        }
                    </div>
                </div>
            }
        }
    </li>
</ul>
@if (!authorized)
{ <p>big no no</p>}
else
{
<ul class="list-group">
    <li class="list-group-item">
        <form method="post" asp-controller="Home" asp-action="ImageUpload" enctype="multipart/form-data">
            <label>Add a new answer:</label>
            <textarea class="form-control-plaintext  bg-dark text-white" style="border-radius: 1rem;" name="answer" required></textarea>
            <label>Add image</label>
            <input type="hidden" name="type" value="answer" />
            <div class="custom-file">
                <input class="form-control custom-file-input" type="file" name="file" />
                <label class="custom-file-label">Browse</label>
            </div>
            <input name="id" type="hidden" value="@Model.Id" />
            <input type="hidden" name="user_email" value="@eMail" />
            <input type="submit" class="btn btn-success" value="Add Answer">
        </form>
    </li>
</ul>
}

<ul class="list-group">
    <li class="list-group-item">
        @foreach (var comment in Model.Comments)
        {
            <hr>
            <div class="container-fluid">
                <p>@comment.Message –&nbsp;<span class="text-date">@comment.GetDate()</span></p>
            </div>
            if (comment.Equals(Model.Comments.Last()))
            {
                <hr>
            }
        }
    </li>
</ul>

@if (!authorized)
{ <p>big no no</p>}
else
{
<ul class="list-group">
    <li class="list-group-item">
        <form method="POST" asp-controller="Home" asp-action="AddComment" enctype="multipart/form-data">
            <div class="justify-content-between pt-4">
                <p>Add a comment</p>
                <textarea class="form-control-plaintext bg-light text-black-50" style="border-radius: 1rem;" name="comment" required></textarea>
                <input name="id" type="hidden" value="@Model.Id" />
                <input name="type" type="hidden" value="question" />
                <input type="hidden" name="user_email" value="@eMail" />
                <div class="pt-2 float-right">
                    <button class="btn btn-success" type="submit">Add Comment</button>
                </div>
            </div>
        </form>
    </li>
</ul>
}
<button class="btn btn-info" onclick="window.location.href='/Home'">Back to questions</button>
<script type="text/javascript">
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(fileName);
        })
    });
</script>