@{
    ViewData["Title"] = "ProfileList";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="th-sm text-center">ID</th>
            <th class="th-sm text-center">Name</th>
            <th class="th-sm text-center">E-mail</th>
            <th class="th-sm text-center">Registration date</th>
            <th class="th-sm text-center">Reputation</th>
        </tr>
    </thead>
    @foreach (UserModel user in IDAO_Impl.Instance.GetUsers())
    {
        <tr>
            <td class="text-center">@user.Id</td>
            <td class="text-center">@user.Name</td>
            <td class="text-center">@user.Email</td>
            <td class="text-center">@user.GetDate()</td>
            <td class="text-center">@user.Reputation</td>
        </tr>
    }
</table>
