@inject IUserService userService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AskMate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--<link rel="stylesheet" href="~/css/table.css" />-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/open-iconic-master/font/css/open-iconic-bootstrap.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AskMate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark btn btn-light mr-2" asp-area="" asp-controller="Home" asp-action="Tags">Tags</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink(
                            "Profiles",
                            "Index",                         // controller action
                            "Profile",        // controller
                            null,         // action parameters aka route values
                            new { @class = "nav-link text-dark btn btn-light mr-2" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(
                                "New Question",
                                "Index",                         // controller action
                                "Question",        // controller
                                null,         // action parameters aka route values
                                new { @class = "nav-link text-dark btn btn-light mr-2" })
                        </li>
                    }
                </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                    
                    <div class="mr-5">Logged in as @User.Claims.First().Value </div>
                    
                    
                    <div class="float-right">

                        @Html.ActionLink("Log Out", "Logout", "Account", null, new { @class = "btn btn-danger" })
                    </div>
                    }
                    else
                    {
                        <div class="float-right">
                            @Html.ActionLink(
                                "Sign up",
                                "Register",                         // controller action
                                "Account",        // controller
                                null,         // action parameters aka route values
                                new { @class = "btn btn-warning mr-3 text-white" })
                        </div>
                        <div class="float-right">
                            @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-success" })
                        </div>
                    }

            </div>
            <!--</div>-->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - AskMate
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/table.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <!--KÉP MIATT-->

    <script src="~/js/ekko-lightbox.min.js"></script>
    <link href="~/css/ekko-lightbox.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <!--KÉPE MIATT VÉG-->
    @RenderSection("Scripts", required: false)
</body>
</html>
